@import 'global.styl'

body
	color d_white
	article
		user-select all !important
		text-align left !important
		relative top 9%
		section
			height auto
			width 70%
			margin 0 auto
			#header
				margin-top 3%
				font-size 3em
				text-align center
			.issue
				h2
					font-size 2em
					margin 2%
				h3
					font-size 1.25em
					margin 1%
				p
					margin-left 3%
					line-height 2em
				.screenshot
					width 70%
					margin 5% 15%
					border-radius 5px