white=rgb(250, 250, 250)
d_gray=darken(#808080, 5)
l_gray=lighten(#808080, 20)
d_white=darken(white, 20)
l_black=#333

blue=rgb(20, 30, 40);
l_blue=rgb(30, 40, 50);
orange=rgb(243,146,0);
red=rgb(175, 20, 20);

nav_lt_breakpoint=1000px
nav_gt_breakpoint=1001px

mobile_breakpoint=1000px