@import 'global.styl'

/** ALL SCREENS **/

.step_1
	padding-top 20%
	form
		display block
		margin 0 auto
		width 40%
		overflow hidden
		border-radius 10em
		border 0.2em solid l_gray
		input
			opacity 0
			cursor pointer
			width 150%
			margin-left -50%
			z-index 2
			padding 1.5em 0
		span
			text-transform uppercase
			font-family bold
			font-weight bold
			font-size 1.25em
			color l_gray
			text-align center
			display block
			padding-top 5%
			absolute top 0
			width 100%
			height 100%
		&:hover
			border 0.2em solid white
			span
				color white
.step_2
	.panel
		overflow-y auto
		padding 1%
		color d_gray
		height 94%
		position absolute
		transition all 0.6s ease
		top 3%
		.panel_header
			color white
		.switch_panels
			display block
			absolute top 0 right 0
			line-height 60%
			margin 2%
			cursor pointer
			font-size 1.5em
			float right
			&:hover
				color white
		.option
			display block
			margin-top 1em
			text-align left
			.option_title
				display block
				margin-bottom 0.5em
			.option_tool input
				vertical-align middle
				&[type='text']
				&[type='number']
					color d_gray
					background none
					border 1px solid blue
					&:focus
						border-color orange
						color orange
					&.invalid
						border-color red
						color red
			.fields
				margin-top 0.5em
				width 100%
				.field_line
					display block
					input
						width 24%
				.top_field
				.bottom_field
					margin-bottom 0.5em
					input
						left 38%
			.find_replace
				table tr td, span.buttton_wrapper
					padding 0.2em 0.75em 0.2em 0
					color d_gray
			.result
				padding-left 1em
	.panel_left
		z-index 2
		left 2%
		background rgba(l_gray, 0.2)
		.left_right_field
			.left
				absolute left 0 top 0.75em
				left 1em
			.img
				margin 0.75em auto
				left 40%
				width 20%
			.right
				absolute right 1em top 0.75em
	.panel_middle
		width 78%
		background rgba(d_gray, 0.2)
		overflow hidden
		#text_input_wrapper
			padding 5px
			color d_gray
			absolute left 0 top 0
			width 50%
			height 100%
			#text_input
				cursor text
				z-index 2
				width 98%
				color d_gray
				height 98%
				absolute top 1% left 1%
			#text_output
				display none
				text-align left
				absolute top 1% left 1%
				.highlighted
					background red
		#preview_wrapper
			width 50%
			height 100%
			overflow hidden
			absolute right 0 top 0
			#canvases_wrapper
				absolute left 0 top 0
				width 100%
				height 100%
				#preview
					z-index 2
					absolute top 0 left 0
			span
				absolute top 12%
				font-size 5em
				cursor pointer
				z-index 3
				opacity 0.2
				display block
				&:hover
					opacity 1
			#canvas_prev
				absolute top 40% left 2%
			#canvas_next
				absolute top 40% right 2%
	.panel_right
		background rgba(l_gray, 0.2)
		left 2%
		opacity 0
		.left_right_field
			.left
				absolute left 0 top 1.5em
				left 1em
			.img
				display inline
				margin 1em auto
				left 40%
				width 20%
			.right
				absolute right 1em top 1.5em
.step_3
	#letter_canvas_parent
		display none
	#tmp_preview_canvas_parent
		width 70%
		overflow auto
		height 94%
		margin 0 auto
		canvas
			width 100%

/** GRATER THAN MOBILE BREAKPOINT */
@media (min-width mobile_breakpoint)
	.panel
		.panel_header
			text-align center
	.panel_left
	.panel_right
		width 18%
	.panel_middle
		left 20%
/** LOWER THAN MOBILE BREAKPOINT */
@media (max-width mobile_breakpoint)
	input[type='file']+span
		padding-top 10%
	.panel_middle
		left 40%
	.panel_left
	.panel_right
		text-align left
		width 40%
	.panel_left
		z-index 3
		left 0
		input[type='range']
			width 65%
		.panel_hint
			display none
	.panel_right
		left 2%