header
	span.header
		a.brand#nav_brand(href='') Jarn
		span#nav_brand_secondary - online handwritten text editor
	span#toggle_nav.hamburger_icon &equiv;
	ul.nav
		li
			a.navlink(href='')#nav_home Home
		li
			a.navlink(href='create/')#nav_create Create
		li
			a.navlink(href='edit/')#nav_edit Edit
		li
			a.navlink(href='write/')#nav_write Write
		li
			a.navlink(href='faq/')#nav_faq FAQ
		li
			a.navlink(href='settings/', target='_blank')
				img.settings_img(src='', alt='')
				span#nav_settings Settings